{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'img/favicon.png' %}">
		<title>Blog Nota Certa</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/notacerta.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110558448-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110558448-1');
		</script>
	</head>

	<body>
		<div class="menu">
			<img src="{% static 'img/logo.png' %}" alt="Nota Certa" class="imagem">
		</div>
		<div class="greenLine"> </div>
		<div class="container">
			{% block content %}
            {% endblock %}
        </div>
	</body>
</html>