{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'img/favicon.png' %}">
		<title>Blog Nota Certa</title>
		<link href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/notacerta.css' %}">	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110558448-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-110558448-1');
		</script>
		<script>
			function yesnoCheck(id) {
			    if (document.getElementById(id).checked) {
			    	if (id == 'id_check_empresa_0') {
			    		document.getElementById('empresa').style.display = 'block';
			    		document.getElementById('lead').style.display = 'block';
			    		document.getElementById('sorry').style.display = 'none';
			    		document.getElementById('ramo').style.display = 'none';
			    	} else {
			    		document.getElementById('lead').style.display = 'block';
			    		document.getElementById('tipo').style.display = 'block';
			    		document.getElementById('sorry').style.display = 'none';
			    	}
			    }
			    else if (id == 'id_check_empresa_0') {
			    		document.getElementById('empresa').style.display = 'none';
			    		document.getElementById('ramo').style.display = 'block';		    					    	
		    	} else {
		    		document.getElementById('tipo').style.display = 'none';
		    		document.getElementById('lead').style.display = 'none';
		    		document.getElementById('sorry').style.display = 'block';
		    	}
			}
		</script>
		<script>
			function verify() {		
				if (!document.getElementById('id_check_empresa_0').checked) 
					if (document.getElementById('id_check_ramo_0').checked) {
						document.getElementById('empresa').style.display = 'none';
						document.getElementById('ramo').style.display = 'block';
					}
				}
			}
		</script>
	</head>

	<body onload="verify();">
		<nav class="navbar navbar-expand-lg navbar-light white-background">
		  <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" class="d-inline-block align-top" alt="">
          </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">	
		        <a class="nav-link negrito" href="{% url 'produto' %}">Nossa ideia</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link negrito" href="{% url 'sobre' %}">Equipe</a>
		      </li>		
		    </ul>
		  </div>		
		</nav>
		<div class="greenLine"> </div>

		<div class="container">
			{% block content %}
            {% endblock %}
        </div>
		
		<div class="footer">
        	<div class="container" align="center">
        		<div class="row"> 
	        		<div class="col-sm-9">
	        			<span class="footer-text">Blog Nota Certa, 2017 </span>
	        		</div>
	        		<div class="col-sm-3">
	        			<a href="https://www.facebook.com/Nota-Certa-248783612319952/?ti=as" class="fab fa-facebook" target="_blank"></a>
		      			<a href="https://www.instagram.com/blognotacerta/" class="fab fa-instagram" target="_blank"></a>
						<a href="https://www.twitter.com/blognotacerta" class="fab fa-twitter" target="_blank"></a>
	        		</div>
	        	</div>
        	</div>
      	</div>

		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			$(window).on('load',function(){
				$('#popup').modal({backdrop: "static"});
			});
		</script>
	</body>
</html>