{% extends 'notacertablog/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row justify">
		<div class="col-sm-8 justify marginTop ">
		  <h2 class="title">Por quê?</h2>
		  <p>Atualmente é possível observar que empresas de varejo tem tido dificuldade na redução significativa de suas despesas operacionais. Essas despesas são denominadas como gastos mensais variáveis
		   (folha de pagamento, operação do negócio, aluguel do imóvel, energia, água, entre outros). Como exemplo de empresas enfrentando esses problemas, podemos observar a Arezzo,
		   Lojas Renner e a Riachuello, que conseguiram reduzir os seus custos operacionais de 2013 para 2014 em apenas 0,4%, 1% e 1,4%, respectivamente.</p>
		   <p style="font-weight: bold; color: #9e5e3f" >Estimativas de especialistas de mercado em documentos fiscais mostram que as despesas operacionais de empreas de varejo podem ter uma diminuição de até 20% do que é gasto atualmente quando essas empresas optam por uma operação de negócio com um modelo de documentação fiscal eletrônica.</p>
		   <p>Em 2016, uma das maiores empresas de grande porte varejista do Brasil teve 28% de sua receita gasto com despesas operacionais. Considerando uma economia de 20% na redução dessas despesas, esse valor poderam cair de 28% para 22%, representando uma economia de 6% do valor da receita da empresa. </p>
		   <img src="{% static 'img/infografico.png' %}" alt="Infografico" class="imagem">
		</div>
		<div class="col-sm-4 justify marginTop">
		  <h2 class="title">Quem somos?</h2>
		  <p>Somos um grupo de estudantes recém formados que estão criando uma nova plataforma para facilitar na gestão fiscal de empresas de uma mameira mais sustentável, sem a necessidade de papel, trazendo uma redução considerável nos custos operacionais.</p>
		  <p>Por essa razão, estamos realizando um levantamento de empresas que estariam interessadas nessa nova solução.</p> 
		  <h2 class="title">Ficou interessado?</h2>
		  <form method="POST">
		  	{% csrf_token %}
		  	<p align="center"> Informações técnicas</p>
		  	{{ form.check_empresa.label }}
		  	<div class="row marginTop">
	    		{{ form.check_empresa }}
	    	</div>
		    <div id="empresa" class="row">
		    	<div class="col-sm-12">
					{{ form.empresa.label }}
				</div>
				<div class="col-sm-12">
					{{ form.empresa }}
				</div>
			</div>

		    <div id="ramo">
		    	{{ form.check_ramo.label }}
		    	<div class="row marginTop">
		    		{{ form.check_ramo }}
		    	</div>
		    	<div id="tipo" class="row">
		    		<div class="col-sm-12">
						{{ form.ramo.label }}
					</div>
					<div class="col-sm-12">
						{{ form.ramo }}
					</div>
				</div>
			</div>

			<div id="lead">
				<p align="center" class="marginTop"> Informações pessoais</p>
				<div class="row">
					<div class="col-sm-5">
						{{ form.name.label }}
					</div>
					<div class="col-sm-7">
						{{ form.name }}
					</div>
				</div>
				<div class="row marginTop">
					<div class="col-sm-5">
						{{ form.email.label }}
					</div>
					<div class="col-sm-7">
						{{ form.email }}
					</div>
				</div>
				<div class="row marginTop">
					<div class="col-sm-5">
						{{ form.cidade.label }}
					</div>
					<div class="col-sm-7">
						{{ form.cidade }}
					</div>
				</div>
				<div class="row marginTop">
					<div class="col-sm-5">
						{{ form.estado.label }}
					</div>
					<div class="col-sm-7">
						{{ form.estado }}
					</div>
				</div>
				<p class="spam marginTop"> Não te enviaremos SPAM, fique tranquilo. </p>
		    	<input type="submit" class="button" value="Enviar">
		    </div>
		  </form>
		  <div id="sorry">
	      	<p class="marginTop"> Nos desculpe, mas nossa solução não é para você :D </p>
		  </div>
		  
		  {% if messages %}
		  	<div class="messages">
		      {% for message in messages %}
		        <p class="{{ message.tags }}">{{ message }}</p>
		      {% endfor %}
		    </div>
		  {% endif %}
		</div>
	</div>
{% endblock %}