{% extends 'notacertablog/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row justify">
		<div class="col-xl-12 justify marginTop">
			<h2 class="title">Tira-dúvidas</h2>
			<p class="marginTop">Esse pequeno FAQ tem como objetivo esclarecer os objetivos do Nota Certa. Na dúvida, a última pergunta sempre serve como resposta.</p>
		</div>
	</div>
	<div class="row justify">
		<div class="col-xl-12 marginTop">
			<h4 class="title">O que é?</h4>
			<p>Criaremos uma solução com muito amor e carinho, e que será feita especialmente para você varejista!
			A ideia do nosso produto é acabar com o uso de papel no seu estabelecimento para emissão de Notas Fiscais.</p>
			<h4 class="title">Mas o cliente fica sem Nota Fiscal?</h4>
			<p>Não! A Nota Fiscal será enviada diretamente para o e-mail do seu cliente!</p>
			<h4 class="title">Mas o que eu ganho com isso?</h4>
			<p>Você não vai mais ter dor de cabeça pra comprar e trocar o papel da sua impressora e além disso você poderá salvar aquela árvore que seria derrubada e usada pra criação dos papéis da impressora! É uma solução sustentável, que colabora com a preservação ambiental.</p>
			<h4 class="title">Mas e o cliente? Ele sai na vantagem?</h4>
			<p>Com certeza. O cliente não vai precisar se preocupar com a informação da nota sendo apagada com o tempo pois os dados da NF estarão no e-mail dele e não no papelzino dentro da carteira :)</p>
			<h4 class="title">Mas isso atende a Legislação?</h4>
			<p>Sem dúvidas! Nosso produto atende totalmente as normas legislativas.</p>
			<h4 class="title">E quais as desvantagens do seu produto?</h4>
			<p>Nenhuma! Você sairá ganhando, o cliente sairá ganhando e o meio ambiente também!</p>
			<h4 class="title">Como eu faço pra adquirir o seu produto?</h4>
			<p>Preencha nosso pequeno cadastro na página principal do nosso site, são poucos campos que precisam ser preenchidos, vai ser rapidinho não demora nem 1 minuto! Depois disso é só aguardar as novidades que serão encaminhadas diretamente para o e-mail cadastrado.</p>
			<h4 class="title">Estou com algumas dúvidas, posso entrar em contato?</h4>
			<p> Claro, mande um e-mail com todas suas dúvidas para contato@blognotacerta.com e entraremos em contato.</p>
		</div>
	</div>
{% endblock %}



			


