{% extends 'notacertablog/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row justify">
		<div class="col-xl-12 justify marginTop">
			<h2 class="title">Tira-dúvidas</h2>
			<p class="marginTop">Esse pequeno FAQ tem como objetivo esclarecer os objetivos do Nota Certa. Na dúvida, a última pergunta sempre serve como resposta.</p>
		</div>
	</div>
	<div class="row justify">
		<div class="col-xl-12 marginTop">
			<p class="negrito title">O que é?</p><p>Criaremos uma solução com muito amor e carinho, e que será feita especialmente para você varejista!<br>A ideia do nosso produto é acabar com o uso de papel no seu estabelecimento para emissão de Notas Fiscais.</p>
			<p><p class="negrito title">Mas o cliente fica sem Nota Fiscal?</p><p>Não! A Nota Fiscal será enviada diretamente para o e-mail do seu cliente!</p>
			<p><p class="negrito title">Mas o que eu ganho com isso?</p><p>Você não vai mais ter dor de cabeça pra comprar e trocar o papel da sua impressora e além disso você poderá salvar aquela árvore que seria derrubada e usada pra criação dos papéis da impressora! É uma solução sustentável, que colabora com a preservação ambiental.</p>
			<p><p class="negrito title">Mas e o cliente? Ele sai na vantagem?</p><p>Com certeza. O cliente não vai precisar se preocupar com a informação da nota sendo apagada com o tempo, pois os dados da NF estarão no e-mail dele e não no papelzino dentro da carteira :)</p>
			<p><p class="negrito title">Mas isso atende a Legislação?</p><p>Sem dúvidas! Nosso produto atende totalmente as normas legislativas.</p>
			<p><p class="negrito title">E quais as desvantagens do seu produto?</p><p>Nenhuma! Você sairá ganhando, o cliente sairá ganhando e o meio ambiente também!</p>
			<p><p class="negrito title">Como eu faço pra adquirir o seu produto?</p><p>No momento estamos em fase de concepção do produto mas, se quiser nos ajudar, preencha nossa pequena pesquisa na página principal do site, são poucos campos que precisam ser preenchidos, vai ser rapidinho não demora nem 1 minuto!</p>
			<p><p class="negrito title">Estou com algumas dúvidas, posso entrar em contato?</p><p>Claro, mande um e-mail com todas suas dúvidas para <a href="mailto:contato@blognotacerta.com">contato@blognotacerta.com</a> e entraremos em contato.</p>
		</div>
	</div>
{% endblock %}



			


