{% extends 'notacertablog/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row justify" id="profile">
		<div class="col-sm-4 justify marginTop ">
			<div>
				<img src="{% static 'img/Alex.png' %}" alt="Alex" class="img-profile">
				<p><b>Alex Macedo da Silva</b></p><p>24 anos<br>Formado em Engenharia da Computação pela Universidade Federal de Itajubá.</p>
			</div>
			<div>
				<img src="{% static 'img/Bruna.png' %}" alt="Alex" class="img-profile">
				<p><b>Bruna Nobrega</b></p><p>20 anos<br></p>
			</div>
			<div>
				<img src="{% static 'img/Daniel.png' %}" alt="Alex" class="img-profile">
				<p><b>Daniel</b></p><p>xxx anos<br></p>
			</div>
			<div>
				<img src="{% static 'img/Danilo.png' %}" alt="Alex" class="img-profile">
				<p><b>Danilo Garrido</b></p><p>27 anos<br>Formado em Desenho Industrial e Sistemas de Informação pela Universidade Presbiteriana Mackenzie.</p>
			</div>
		</div>
	</div>
	<div class="row justify">
		<div class="col-sm-4 justify">
			<div>
				<img src="{% static 'img/Felipe.png' %}" alt="Alex" class="img-profile">
				<p><b>Felipe Pereira</b></p><p>xxx anos<br></p>
			</div>
			<div>
				<img src="{% static 'img/Ivan.png' %}" alt="Alex" class="img-profile">
				<p><b>Ivan Burjaili</b></p><p>25 anos<br>Formado em Engenharia Mecatrônica pela Universidade Federal de Uberlândia.</p>
			</div>
			<div>
				<img src="{% static 'img/Ivan.png' %}" alt="Alex" class="img-profile">
				<p><b>Lucas Ribeiro</b></p><p>24 Anos<br>Formado em Engenharia da Computação pela Universidade Tecnológica Federal do Paraná.</p>
			</div>
			<div>
				<img src="{% static 'img/Ivan.png' %}" alt="Alex" class="img-profile">
				<p><b>Matheus Romão</b></p><p>24 anos<br>Formado em Engenharia de Computação pela Universidade Salvador.</p>
			</div>
		</div>
	</div>
{% endblock %}