{% extends 'notacertablog/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row justify ">
		<div class="col-xl-12 marginTop">
			<h2 class="title">Quem somos?</h2>
			<p>Somos um grupo de estudantes recém formados que estão criando uma nova plataforma para facilitar na gestão fiscal de empresas de uma maneira mais sustentável, sem a necessidade de papel, trazendo uma redução considerável nos custos operacionais.</p>
		</div>
	</div>
	<div class="row justify marginTop">
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Alex Macedo da Silva</b></p>
			<img src="{% static 'img/Alex.png' %}" alt="Alex" class="img-profile">
			<p class="marginTop">Formado em Engenharia da Computação pela Universidade Federal de Itajubá.</p>
		</div>
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Bruna Nobrega</b></p>
			<img src="{% static 'img/Bruna.png' %}" alt="Bruna" class="img-profile">
			<p class="marginTop">Formada em Ciência da Computação pela Universidade Anhembi Morumbi.</p>
		</div>
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Daniel Fogaça</b></p>
			<img src="{% static 'img/Daniel.png' %}" alt="Daniel" class="img-profile">
			<p class="marginTop">Formado em Sistemas de Informação pela Faculdade Impacta de Tecnologia.</p>
		</div>
		<div class="col-sm-3 marginTop ">
			<p style="text-align: center;"><b>Danilo Garrido</b></p>
			<img src="{% static 'img/Danilo.png' %}" alt="Danilo" class="img-profile">
			<p class="marginTop">Formado em Desenho Industrial e Sistemas de Informação pela Universidade Presbiteriana Mackenzie.</p>
		</div>		
	</div>
	<div class="row justify marginTop">
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Felipe Pereira</b></p>
			<img src="{% static 'img/Felipe.png' %}" alt="Felipe" class="img-profile">
			<p class="marginTop">Formado em Engenharia Eletrônica pela Universidade Federal de Pernambuco</p>
		</div>
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Ivan Burjaili</b></p>
			<img src="{% static 'img/Ivan.png' %}" alt="Ivan" class="img-profile">
			<p class="marginTop">Formado em Engenharia Mecatrônica pela Universidade Federal de Uberlândia.</p>
		</div>
		<div class="col-sm-3 marginTop">
			<p style="text-align: center;"><b>Lucas Ribeiro</b></p>
			<img src="{% static 'img/Lucas.png' %}" alt="Lucas" class="img-profile">
			<p class="marginTop">Formado em Engenharia da Computação pela Universidade Tecnológica Federal do Paraná.</p>
		</div>
		<div class="col-sm-3 marginTop ">
			<p style="text-align: center;"><b>Matheus Romão</b></p>
			<img src="{% static 'img/Romao.png' %}" alt="Matheus" class="img-profile">
			<p class="marginTop">Formado em Engenharia de Computação pela Universidade Salvador.</p>
		</div>		
	</div>
{% endblock %}